<div class="row">
    <div class="col-6">
        <div class="btn-section">
            <button class="glow-on-hover" type="button">HOVER ME, THEN CLICK ME!</button>
        </div>
    </div>
    <div class="col-6">
        <div class="three-btn-section">
            <div class="box-1">
                <button class="btn btn-1" type="button"><span>HOVER ME</span></button>
            </div>
            <div class="box-2">
                <button class="btn btn-2" type="button"><span>HOVER ME</span></button>
            </div>
            <div class="box-3">
                <button class="btn btn-3" type="button"><span>HOVER ME</span></button>
            </div>
        </div>
    </div>
</div>
