<header class="header">
    <div class="header-container">
        <div class="header-content">
            <a href="#" class="ftci-logo">
                <img src="https://franklintempletonprod.widen.net/content/qfsyyfgbgo/original/fti_logo.jpg" alt="FTCI Logo" class="logo">
            </a>
            <nav class="nav">
                <div class="nav-menu">
                    <ul class="menu-list">
                        <li class="menu-item-li">
                            <div class="menu-item">
                                <a _ngcontent-jqt-c148="" class="menu-item-link" routerLink="/argon-dashboard">Argon Dashboard</a>
                            </div>
                        </li>
                        <li class="menu-item-li">
                            <div class="menu-item">
                                <!-- <a _ngcontent-jqt-c148="" class="menu-item-link active">Services</a> -->
                                <a _ngcontent-jqt-c148="" class="menu-item-link">Services</a>
                            </div>
                        </li>
                        <li class="menu-item-li">
                            <div class="menu-item">
                                <a _ngcontent-jqt-c148="" class="menu-item-link">Meet Our Team</a>
                            </div>
                        </li>
                        <li class="menu-item-li">
                            <div class="menu-item">
                                <a _ngcontent-jqt-c148="" class="menu-item-link">Insights</a>
                            </div>
                        </li>
                        <li class="menu-item-li">
                            <div class="menu-item">
                                <a _ngcontent-jqt-c148="" class="menu-item-link">Client Login</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav-advisory">
                    <button _ngcontent-mbg-c148="" class="speak-to-btn primary"> <span>Speak to an advisor</span> </button>
                </div>
                <div class="nav-search">
                    <img _ngcontent-mbg-c148="" alt="Search Icon" class="search-btn" src="https://franklintempletonprod.widen.net/content/patfpog8bv/original/search.png">
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="header-height"></div>
<div class="banner-class">
    <div class="section-container">
        <h1>Image Rendering with Canvas <em>Example</em></h1>
        <div class="image-container">
            <!-- <canvas #myCanvas id="my-canvas"></canvas>
            <div class="image__block__box">
                <div>
                    <h2>Connect with an FTI advisor</h2>
                </div>
                <a class="image__block__link" href="/en-us-ftci/speak-to-an-advisor">Let's talk</a>
            </div> -->
        </div>
    </div>
    <!-- Pixlated -->
    <div class="section-container">
        <h1>Image Rendering Pixelated <em>Example</em></h1>
        <div class="pixel-to-original-img" [style]="'background-image:  url(' + backgroundImg.img + '); image-rendering:' + backgroundImg.renderingType + ';'">
        </div>
        <!-- <img src="../../assets/images/talk-to-us-box-original.jpg" class="my-image" alt=""> -->
        <!-- <canvas #myCanvas2 id="my-canvas2" [style]="'background-image:  url(' + backgroundImg.img + '); image-rendering:' + backgroundImg.renderingType + ';'"></canvas> -->
    </div>
    <div class="section-container">
        <!-- <h1>Meet <em>our team</em></h1> -->
        <h1>Accordion <em>Example</em></h1>
        <div class="accordian">
            <div class="row">
                <div class="col-6">
                    <div class="tabs">
                        <div class="tab">
                            <input type="checkbox" id="check1">
                            <label for="check1" class="tab-label">Item 1</label>
                            <div class="tab-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum molestiae natus cum consectetur tenetur asperiores, nisi dignissimos accusamus debitis voluptas. Cupiditate neque necessitatibus reprehenderit quae dolorem maxime, mollitia quos.
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="check2">
                            <label for="check2" class="tab-label">Item 2</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quaerat, praesentium amet provident facilis veritatis excepturi perspiciatis ratione soluta minus at molestiae rerum, architecto harum perferendis eligendi possimus nobis laboriosam magni
                                deserunt repellendus eveniet dolores asperiores. Ad quibusdam cumque dolores iste ut nihil nemo sequi dolor impedit animi, in nisi excepturi quae voluptatibus vitae odit at itaque veritatis sint doloribus. Nam fugiat eveniet
                                dolor delectus laudantium saepe voluptatibus magnam culpa quibusdam natus placeat eum, soluta dolorem quasi. Debitis rem enim architecto ipsa laboriosam fuga alias laborum reiciendis minima, iure molestias officia sint
                                commodi aspernatur quo similique numquam modi corporis?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tabs">
                        <div class="tab">
                            <input type="checkbox" id="check3">
                            <label for="check3" class="tab-label">Item 3</label>
                            <div class="tab-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum molestiae natus cum consectetur tenetur asperiores, nisi dignissimos accusamus debitis voluptas. Cupiditate neque necessitatibus reprehenderit quae dolorem maxime, mollitia quos.
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="check4">
                            <label for="check4" class="tab-label">Item 4</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quaerat, praesentium amet provident facilis veritatis excepturi perspiciatis ratione soluta minus at molestiae rerum, architecto harum perferendis eligendi possimus nobis laboriosam magni
                                deserunt repellendus eveniet dolores asperiores. Ad quibusdam cumque dolores iste ut nihil nemo sequi dolor impedit animi, in nisi excepturi quae voluptatibus vitae odit at itaque veritatis sint doloribus. Nam fugiat eveniet
                                dolor delectus laudantium saepe voluptatibus magnam culpa quibusdam natus placeat eum, soluta dolorem quasi. Debitis rem enim architecto ipsa laboriosam fuga alias laborum reiciendis minima, iure molestias officia sint
                                commodi aspernatur quo similique numquam modi corporis?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- <h1>Meet <em>our team</em></h1> -->
        <h1>Dropdown <em>Example</em></h1>
        <div class="accordian">
            <div class="row">
                <div class="col-6">
                    <!-- Example single danger button -->
                    <div class="dropdown">
                        <div class="btn-group">
                            <input type="checkbox" id="checkDrop">
                            <label for="checkDrop" class="btn">Select Dropdown</label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h1>Buttons <em>Example</em></h1>
        <app-button-design></app-button-design>
    </div>

    <!-- <div class="banner-img"></div> -->
</div>