<div class="argon-page-header">
    <div class="nav container-fluid bg-primary">
        <div class="search-box">
            <div class="search-box-icon">🔍</div>
            <input type="text" class="search-box-input" placeholder="Search">
        </div>
        <div class="side-nav-menus">
            <div class="notifiacation">
                <a href="#">
                    <i class="fa-regular fa-bell"></i>
                </a>
            </div>
            <div class="examples">
                <a href="#">
                    <i class="fa-solid fa-box-open"></i>
                </a>
            </div>
            <div class="user-login">
                <div class="avatar">
                    <img src="https://demos.creative-tim.com/argon-dashboard-pro-bs4/assets/img/theme/team-4.jpg" alt="">
                </div>
                <div class="user-name">
                    <h5>John Snow</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrum">
        <div class="nav container-fluid bg-primary">
            <div class="breadcrum-items">
                <h3>Buttons</h3>
                <div class="item">
                    <a href="#">
                        <i class="fa-solid fa-house-chimney"></i>
                    </a>
                </div>
                <div class="item"><span class="seperator">-</span></div>
                <div class="item">
                    <a href="#">
                        Dashboard
                    </a>
                </div>
                <div class="item"><span class="seperator">-</span></div>
                <div class="item active">
                    Default
                </div>
            </div>
            <div class="side-nav-menus">
                <div class="side-buttons">
                    <a href="#">
                        <button class="btn">New</button>
                    </a>
                    <a href="#">
                        <button class="btn">Filters</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
